# provide the path to the repository where docker will store all configuration
CONFIG_PATH=.
# provide your time zone in tz database name, like TZ=America/Los_Angeles
TZ=Europe/Amsterdam
#Provide zigbee channel
ZIGBEE_CHANNEL=11

#Provide version of docker images. Don't change unless necessary
MOSQUITTO_VERSION=2.0.18
Z2M_VERSION=1.37.1
HA_VERSION=2024.4.4
ROBONOMICS_VERSION=1.8.5-beta
IPFS_VERSION=0.27.0
LIBP2P_VERSION=1.0.1